openapi: 3.0.1
info:
  description: The CloudRadial API is currently in development. For more information
    visit <a href='https://radials.io/api' target='_blank'>https://radials.io/api</a>
  title: CloudRadial
  version: v2
servers:
- url: https://api.us.cloudradial.com
security:
- Basic: []
paths:
  /v2/odata/archiveitem:
    get:
      operationId: v2/odata/ArchiveItem
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/octet-stream:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
          description: Success
      summary: Gets archive items with OData query support
      tags:
      - ArchiveItem
  /v2/odata/archiveitem/$count:
    get:
      operationId: v2/odata/ArchiveItem/$count
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/json;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            application/octet-stream:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/ArchiveItem"
                type: array
          description: Success
      summary: Gets archive items with OData query support
      tags:
      - ArchiveItem
  /v2/archiveitem/{archiveId}/{itemId}:
    delete:
      parameters:
      - explode: false
        in: path
        name: archiveId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          description: Not Found
      tags:
      - ArchiveItem
    get:
      parameters:
      - explode: false
        in: path
        name: archiveId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
          description: Success
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: Get a single archive item by archiveId (folder) and itemId
      tags:
      - ArchiveItem
    patch:
      parameters:
      - explode: false
        in: path
        name: archiveId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/xml:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          text/plain:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          text/json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/*+json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: JSON-Patch partial update
      tags:
      - ArchiveItem
    put:
      parameters:
      - explode: false
        in: path
        name: archiveId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          text/plain:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: Full update of archive item
      tags:
      - ArchiveItem
  /v2/archiveitem:
    post:
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          text/plain:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/ArchiveItemRequest"
      responses:
        "201":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/json;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ArchiveItemResponse"
          description: Created
        "400":
          description: Bad Request
      summary: Create a new archive item (without attachment upload). Use separate
        endpoint for file upload later.
      tags:
      - ArchiveItem
  /v2/odata/article:
    get:
      description: "Supports OData filtering, sorting, and paging."
      operationId: v2/odata/Article
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/octet-stream:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: Success
      summary: Gets articles
      tags:
      - Article
  /v2/odata/article/$count:
    get:
      description: "Supports OData filtering, sorting, and paging."
      operationId: v2/odata/Article/$count
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;IEEE754Compatible=false:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/json;IEEE754Compatible=true:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            application/octet-stream:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: Success
      summary: Gets articles
      tags:
      - Article
  /v2/article/{articleId}:
    delete:
      parameters:
      - description: Article ID
        explode: false
        in: path
        name: articleId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: Delete an article (soft delete)
      tags:
      - Article
    get:
      parameters:
      - description: Article ID
        explode: false
        in: path
        name: articleId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
          description: Success
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: Get an article by ID
      tags:
      - Article
    patch:
      parameters:
      - description: Article ID
        explode: false
        in: path
        name: articleId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;IEEE754Compatible=false:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json;IEEE754Compatible=true:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/xml:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          text/plain:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          text/json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
          application/*+json:
            schema:
              items:
                $ref: "#/components/schemas/Operation"
              type: array
        description: JSON Patch document
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: Partially update an article using JSON Patch
      tags:
      - Article
    put:
      parameters:
      - description: Article ID
        explode: false
        in: path
        name: articleId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          text/plain:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
        description: Updated article details
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: Update an article
      tags:
      - Article
  /v2/article:
    post:
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;IEEE754Compatible=false:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json;IEEE754Compatible=true:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          text/plain:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/ArticleRequest"
        description: Article details
      responses:
        "201":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=full:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=none:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.streaming=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
[...]
